


.hero-banner {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(images/image1.png);
  background-position: center;
  background-size: cover;
  height: 150vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  cursor: url(images/logo.png), auto;
  background-attachment: fixed;
  position: relative;
}
/* Media query pour les petits écrans */
@media (max-width: 600px) {
  .hero-banner {
      background-size: 1257px 897px; /* Largeur fixe 360px, hauteur fixe 640px */
      background-position: center top;
      background-repeat: no-repeat;
  }
}


.hero-banner::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 10vh;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 100%);
    z-index: 1;
  }

.title-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: -50vh;
    bottom: 0;
    
}



.hero-title-container:hover {
    color: #fff;
    text-shadow: 0 0 5px #ffffff,
                0 0 25px #ffffff,
                0 0 50px #ffffff,
                0 0 100px #ffffff;
}

.hero-title-container {
    transition: 1s;  
    font-family: 'Noto Serif Thai', serif;
  }
  


.hero-title {
    font-size: 4.8em;
    text-transform: uppercase;
    opacity: 0;
    transform: translateX(-100px);
    animation: slide-in 2s cubic-bezier(0.34, 1.56, 0.64, 1) forwards;
    animation-delay: 0.66s;
    position: relative;
    z-index: 2;
    }
    
    @media screen and (max-width: 1000px) {
    .hero-title {
    font-size: 7.7vw;
    }
    }
    .hero-title span {
        display: inline-block;
        transition: transform 0.22s, text-shadow 0.22s;
        will-change: transform;
    }
    
    .hero-title span:hover {
        transform: scale(1.2);
        text-shadow: 0 0 5px #ecf6c8,
                    0 0 25px #ecf6c8,
                    0 0 50px #ecf6c8,
                    0 0 100px #ecf6c8;
        opacity: 1;
    }
    


@keyframes slide-in {
    0% {
        opacity: 0;
        transform: translateX(100px);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}


.hero-title::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 0;
    height: 2px; /* ajuster l'épaisseur de la ligne en fonction de vos préférences */
    background-color: #ffffff;
    transition: all 1.22s;
}

.hero-title:hover::before {
    width: 100%; /* étendre la largeur de la ligne sur toute la largeur du titre */
    left: 0; /* déplace la ligne vers la gauche */
}

.mitenu {

    position: relative;
    }


      
    .nav-sidebar {
        position: fixed;
        top: 0;
        left: 0;
        width: 120px;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        overflow: auto;
        background-color: #000000;
        box-shadow: 2px 0px 10px rgba(255, 255, 255, 0.5); /* ajouter une ombre portée */
        z-index: 999;
        transform: translateY(-50%);
        opacity: 0;
      }
      @media (max-width: 600px) {
        .nav-sidebar {
          display: none;
        }
      }
      
      .portrait {
        max-width: 100%;
        height: auto;
      }
      @media (max-width: 600px) {
        .portrait {
          max-width: 50%;
          justify-content: center;
        }
      }
      
      .nav-avatar {
        margin: 0;
      }
      
      .nav-avatar img {
      width: 100%;}
      
      .nav-items {
        display: flex;
        list-style-type: none;
        padding: 0;
        margin: 0;
        margin-bottom: 33px;
        margin-top: 22px;
        width: 100%;
        height: 100%;
        flex-direction: column;
        justify-content: space-between;
    }
    .nav-item {
      width: 100%;
    }
      
    .nav-icon {
      width: 34px;
      height: 34px;
    }
    
      
      .nav-link {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        padding: 35px 35px; /* ajuster la valeur de padding pour augmenter la hauteur */
        font-size: 18px;
        color: #ccc;
        text-decoration: none;
        position: relative;
        overflow: hidden;
      }
      
      .nav-link::before {
        content: "";
        position: absolute;
        top: 0;
        left: -1rem;
        width: 0.25rem;
        height: 100%;
        background: #ccc;
        transition: 0.6s;
      }
      
      .nav-link:hover::before {
        left: calc(100% + 1rem);
      }
      
      .nav-link .nav-icon,
      .nav-link span {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        transition: opacity 0.4s 0.1s; /* Ajouter un délai de 0.1s à la transition d'opacité */
        font-size: 35px; /* taille de l'icône ou du texte */
      }
      
      .nav-link:hover .nav-icon {
        opacity: 0;
      }
      
      .nav-link:hover span {
        opacity: 1;
      }
      
      .nav-link span {
        opacity: 0;
        color: #ccc;
        font-size: 18px;
        text-align: center;
      }

      .nav-sidebar.visible {
        animation-name: slideInSidebar;
        animation-duration: 1s;
        animation-timing-function: ease;
        animation-fill-mode: forwards;
        animation-delay: 0.1s; /* Ajouter un délai de 0.1s à l'animation */
      }
      @keyframes slideInSidebar {
        to {
          transform: translateY(0%);
          opacity: 1;
        }
      }
      
      .contact-padding {
        padding-top: 64px;
      }

      .end-padding {
        padding-top: 25px!important;
        padding-bottom: 10px!important;
        font-size: 11px;
      }
      

      .social-icon-container {
        position: relative;
        display: inline-block;
        perspective: 1000px;
      }
      
      .social-icon {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        width: 24px;
        height: 24px;
        border-radius: 20%;
        background-color: #000000;
        color: white;
        font-size: 24px;
        text-decoration: none;
        padding: 20px;
        transition: all 0.3s ease-in-out;
      }
      
      .social-icon:hover {
        opacity: 0.7;
        box-shadow: 0 0 10px rgba(252, 249, 249, 0.5);
        transform: translateY(-5px) scale(1.1);
      }
      
      .social-icon-hover {
        position: absolute;
        bottom: calc(100% + 15px); /* Ajout d'espace */
        left: 50%;
        transform-origin: bottom center;
        background-color: #0e0e0e;
        border-radius: 22px;
        padding: 10px;
        box-shadow: 0 0 10px rgba(252, 249, 249, 0.5);
        border: 1px solid rgba(255, 255, 255, 0.2); 
        color: white;
        opacity: 0;
        transition: opacity 0.3s, transform 0.5s;
        transform: translateY(20px) translateX(-50%) scale(0);
        width: 200px;
        pointer-events: none;
      }
      
      .social-icon-hover img {
        width: 100%;
        height: auto;
        display: block;
        margin-bottom: 5px;
        border-radius: 22px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
      }
      
      .social-icon-hover h4 {
        margin: 0;
        margin-bottom: 5px;
      }
      
      .social-icon-hover a {
        text-decoration: none;
        color: white;
      }
      
      .social-icon-container:hover .social-icon-hover {
        opacity: 1;
        transform: translateY(-10px) translateX(-50%) scale(1);
        pointer-events: auto;
      }
      
      .social-icon-container::before {
        content: "";
        position: absolute;
        top: -22px;
        left: 0;
        right: 0;
        bottom: 40px;
        z-index: 1;
        pointer-events: none;
      }
      
      .social-icon-container:hover::before {
        pointer-events: auto;
      }
      