@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+Thai:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+Display:wght@600&display=swap');


.hero-banner {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(image1.png);
    background-position: center;
    background-size: cover;
    height: 150vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    cursor: url(images/logo.png), auto;
    background-attachment: fixed;
}


.title-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    bottom: 0;
    transition: 1s;   
}



.hero-title-container:hover {
    color: #fff;
    text-shadow: 0 0 5px #ffffff,
                0 0 25px #ffffff,
                0 0 50px #ffffff,
                0 0 100px #ffffff;
}

.hero-title-container {
    transition: transform 0.222s;  
    font-family: 'Noto Serif Thai', serif;
  }
  


.hero-title {
    font-size: 4.6em;
    text-transform: uppercase;
    opacity: 0;
    transform: translateX(-100px);
    animation: slide-in 2s cubic-bezier(0.34, 1.56, 0.64, 1) forwards;
    animation-delay: 0.66s;
    position: relative;
    }
    
    @media screen and (max-width: 1000px) {
    .hero-title {
    font-size: 7vw;
    }
    }
    .hero-title span {
        display: inline-block;
        transition: transform 0.22s, text-shadow 0.22s;
        will-change: transform;
    }
    
    .hero-title span:hover {
        transform: scale(1.2);
        text-shadow: 0 0 5px #ecf6c8,
                    0 0 25px #ecf6c8,
                    0 0 50px #ecf6c8,
                    0 0 100px #ecf6c8;
        opacity: 1;
    }
    


@keyframes slide-in {
    0% {
        opacity: 0;
        transform: translateX(100px);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}


.hero-title::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 0;
    height: 2px; /* ajuster l'épaisseur de la ligne en fonction de vos préférences */
    background-color: #ffffff;
    transition: all 1.22s;
}

.hero-title:hover::before {
    width: 100%; /* étendre la largeur de la ligne sur toute la largeur du titre */
    left: 0; /* déplace la ligne vers la gauche */
}

.mitenu:before {
    content: "";
    position: absolute;
    top: 140vh;
    left: 0;
    right: 0;
    height: 11vh;
    background: linear-gradient(to top, rgba(0,0,0,1) 0%, rgba(0,0,0,0) 100%);
  }
